@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    height: 100%;
}

/*---------------------------------Start of basic page layout----------------------------*/
img#logo {
    float: left;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    text-align:right;
    margin: 0px -15px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    @import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
    padding: 0 15px;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    transition: background 1s;
    display: inline-block;
    text-align: center;
}

nav a#home:hover, focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #62f42c;
    line-height: 50px;
    display: inline-block;
}

nav a#prayer:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #ff009d;
    line-height: 50px;
    display: inline-block;
}
nav a#event:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #ffe200;
    line-height: 50px;
    display: inline-block;
}
nav a#location:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #00ffa7;
    line-height: 50px;
     display: inline-block;
}
nav a#donation:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #8900ff;
    line-height: 50px;
    display: inline-block;
}



.first {
    background-image: url("../img/1.jpg");
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    z-index: -1; 
}

.second {
 
/*    background-image: url("../img/2.jpg");*/
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -10;

}

.third {

    background-image: url("../img/mo.jpg");
    
/*background: #b5bdc8;
background: -moz-linear-gradient(top,  hsla(215,15%,75%,1) 0%, hsla(208,8%,55%,1) 36%, hsla(202,19%,20%,1) 100%);
background: -webkit-linear-gradient(top,  hsla(215,15%,75%,1) 0%,hsla(208,8%,55%,1) 36%,hsla(202,19%,20%,1) 100%);
background: linear-gradient(to bottom,  hsla(215,15%,75%,1) 0%,hsla(208,8%,55%,1) 36%,hsla(202,19%,20%,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );
*/

    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -10;
}

.fourth {

    background: #45484d; /* Old browsers */
background: -webkit-linear-gradient(hsla(218,5%,29%,1) 0%, hsla(0,0%,0%,1) 100%);
background: -o-linear-gradient(hsla(218,5%,29%,1) 0%, hsla(0,0%,0%,1) 100%);
background: linear-gradient(hsla(218,5%,29%,1) 0%, hsla(0,0%,0%,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -10;
}

.fifth {

    background-color: #ffffff;
    background-attachment: fixed;
    height: 40%;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -10;
}
/*---------------------------------End of basic page layout----------------------------*/

/*---------------------------------Start of Index page layout----------------------------*/
#homeSection h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #ffffff;
    text-align: justify;
    clear: both;
    padding-top: 100px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
}

#homeSection h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #fff;
    text-align: justify;
    clear: both;
    font-style: italic;
    padding-top: 40px;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
}

/*---------------------------------End of Index page layout----------------------------*/

/*---------------------------------Start of Prayer page layout----------------------------*/
div#prayerSection span h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 40px;
    color: #4d4d4d;
    text-align: center;
    clear: both;
    padding-top: 105px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
}

div#prayerSection span h2 {
    font-family: 'Amaranth', sans-serif;
    font-size: 40px;
    color: #4d4d4d;
    text-align: center;
    clear: both;
    padding-top: 0px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
}

div#prayertime{
    font-family: 'Amaranth', sans-serif;
    color: #4d4d4d;
    text-align: center;
    clear: both;
    margin-top: 60px;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
}

div#prayertime h3{
    font-size: 25px;
}


/*---------------------------------End of Prayer page layout----------------------------*/

/*---------------------------------Start of Events page layout----------------------------*/
#eventSection h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.8em;
    color: #ffffff;
    text-align: center;
    clear: both;
    padding-top: 100px;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
}

#eventSection h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4em;
    color: #fff;
    text-align: center;
    clear: both;
    font-style: italic;
    padding-top: 40px;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
}

/*---------------------------------End of Events page layout----------------------------*/

/*---------------------------------Start of Contact page layout----------------------------*/

div#map {
    height: 100%;
    width: 100%;
    padding-top: 80px;
}

iframe {
    width: 100%;
    height: 600px;

}

/*---------------------------------End of Contact page layout----------------------------*/

/*---------------------------------Start of Donation page layout----------------------------*/
div#donationSection {
    padding: 30px 0;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*---------------------------------End of Donation page layout----------------------------*/

.demo {
		width:30%;
		height:100%;
		border:1px solid #938DF3;
		border-collapse:collapse;
		padding:5px;
        margin: 0 auto;
	}

.demo th {
		border:1px solid #938DF3;
		padding:5px;
		background:#710FCA;
        color: floralwhite;
        text-align: center;
	}

.demo td {
		border:1px solid #938DF3;
		text-align:left;
		padding:5px;
        text-align: center;
        transition: .5s;
        -webkit-transition: .5s ;
        -o-transition: .5s ;
	}

.demo td:hover {
		border:1px solid #938DF3;
		text-align:left;
		padding:5px;
        text-align: center;
        background: #938DF3;
        color: floralwhite;
	}