*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box ;
    box-sizing: border-box ;
}

.social{
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

.social ul{
    list-style: none;
}

.social ul li a {
    display:inline-block;
    color: white;
    background-color: black;
    padding: 10px 15px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.social ul li .icon-facebook{
    background: ;
}


.social ul li .icon-facebook{
    background: #3b5998 ;
}


.social ul li .icon-pinterest2{
    background: #ae181f ;
}


.social ul li .icon-google-plus{
    background: #d95232;
}


.social ul li .icon-tumblr{
    background: #00abf0;
}


.social ul li .icon-youtube2{
    background: crimson;
}

.social ul li a:hover{
    padding: 10px 30px;
    background: #000;
}